
.fa-bars, 
.fa-bars:active, 
.fa-bars:visited, 
.fa-bars:focus,
.fa-bars:hover {
  left: 2vw;
  top: 2vw;
  padding: .51vw;
  font-size: 5vh;
}

.active {
  background: none;
}

.menu {
  top: 2vw;
  padding-left: 15%;
}

li {
  margin: 5% 0;
  padding: .51vh 1.4vh;
  font-size: 5vh;
}

.next {
  top: 29%;
  left: 92%;
  font-size: 13vh;
}

.back {
  top: 29%;
  right: 92%;
  font-size: 13vh;
}

/*-------- Index ---------*/
.nametag {
  padding: 1.4vh 2.1vh;
  border: .35vh solid white;
}

#name {
  font-size: 9vh;
}

#dream {
  margin-top: 2vh;
  font-size: 5vh;
}

/*-------- Story ---------*/

.slider {
  height: 65%;
  width: 100%;
}

.slider-2 {
  height: 35%;
  width: 100%;
}

.storyTitle {
  left: 23%;
  top: 21%;
  font-size: 8vh;
}

.storyHeader {
  top: 37%;
  left: 17%; 
  font-size: 5vh;
}

.storySub {
  top: 45%;
  left: 33%; 
  font-size: 2.5vh;
}

.story {
  top: 50%;
  left: 5%;
  right: 4%; 
  margin-right: 0;
  line-height: 105%;
  font-size: 2.4vh;
}

span {
  margin-left: 36%;
}

/*-------- Skills ---------*/

/*-------- Portfolio ---------*/

/*-------- Animations ---------*/
@keyframes menuFade {
  from {opacity: 0; margin-left: 7vh;} 
    to {opacity: 1; left: 2vh;}
} 

@keyframes nextFade {
  from {opacity: 0; left: 85%;}
   to {opacity: .8; left: 90%;}
}

@keyframes backFade {
  from {opacity: 0; right: 85%;}
   to {opacity: .8; right: 90%;}
}

@keyframes slideRight {
  from {bottom: 100vh; opacity: 0;}
    to {bottom: 65vh; opacity: .3;}
}

@keyframes slideLeft {
  from {top: 100vh; opacity: 0}
    to {top: 35vh; opacity: .8}
}

@keyframes titleFade {
  from {left: 13%; opacity: 0}
    to {left: 25%; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
    to {opacity: 1}
}
