
.header {
  height: 10vw;
}

.link {
  font-size: 6.8vw;
  padding-right: 6vw;
}

.navBtn {
  display: none;
}

/*-------- Landing ---------*/
.nametag {
  padding: 1.4vh 2.1vh;
  border: .35vh solid white;
}

#name {
  font-size: 9vh;
}

#dream {
  margin-top: 2vh;
  font-size: 5vh;
}

.infoBar {
  height: 20vh;
}

.skillsList {
  display: none;
}

/*-------- Story ---------*/
.slider-3 {
  position: relative;
  height: 80%;
  width: 100%;
  float: none;
  left: 0;
  right: 0;
}

.slider-4 {
  position: relative;
  height: 20%;
  width: 100%;
  float: none;
  left: 0;
  right: 0;
}

.storyTitle {
  left: 21%;
  top: 120%;
  font-size: 8vh;
}

.storyPanel{
  width: 100%;
}

.storyHeader {
  top: 37%;
  left: 0%; 
  font-size: 5vh;
}

.storySub {
  top: 45%;
  left: 0%; 
  font-size: 2.5vh;
}

.story {
  top: 50%;
  left: 2%;
  right: 2%; 
  margin-right: 0;
  line-height: 105%;
  font-size: 2.4vh;
  line-height: 120%
  margin: 0;
}

span {
  margin-left: 50%;
}

.projects {
  font-size: 8vh;
  margin-bottom: 2vh;
}

.thumb {
  display: block;
  width: 95vw;
}

.col3, .col4 {
  display: none;
}

.thumb:hover::after {
  width: 95vw;
}

/*-------- Animations ---------*/

@keyframes titleFade {
  from {left: 13%; opacity: 0}
    to {left: 25%; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
    to {opacity: 1}
}
